$upper:uppercase;
$content-section: "only screen and (max-width : 820px)";
$content-section-post: "only screen and (max-width : 500px)";
$social-icon-manage:"only screen and (max-width : 768px)";
$button-manage:"only screen and (max-width : 400px)";