.main {
  border: 1px solid red;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  width: 100%;
  overflow: hidden;

}

img {
  width: 100%;
     transition: 1s linear all;
}

div:hover img {
  transform: scale(1.1,1.1);
  transition: 1s linear all;
}