body {
	margin:0;
	padding: 0;
}

div.navbar {
  background-color: #d1d1d1;
  width: 100%;
  position: relative;
}
.navbar::after {
  clear: both;
  content: "";
  display: table;
}
.navbar > ul {
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.navbar > ul li {
  display: inline-block;
  position:relative;
}

.navbar a {
  color: red;
  display: block;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}


.navbar>ul a:hover {
  background-color: red;
  color: #fff;
}

.submenu {
  background-color: #d1d1d1;
  display: none;
  position: absolute;
  top: 63px;
  right: 0;
  left: 0;
  padding:0;
}

.submenu > a {
  display: block;
  padding: 20px;
  position: relative;
}

.submenu1 {
  background-color: #d1d1d1;
  left: 557px;
  position: absolute;
  top: 153px;
  width: 129px;
  display: none;
}

.submenu1 > a {
  display: block;
  padding: 10px;
}

.navbar li:hover .submenu {
  display: block;
}

.toggle {
  display: block;
  float: right;
  padding: 33px 0;
  right: 0;
  top: 0;
  width: 10%;
}



span {
  border-bottom: 2px solid red;
  display: block;
  padding: 2%;
  width: 14%;
  cursor: pointer;
}

span:hover .toggle-menu{
	display:block;
	position: relative;
}

.toggle-menu {
  background-color: #d1d1d1;
  display: block;
  opacity: 0;
  position: absolute;
  right: -50px;
  top: 54px;
  visibility: hidden;
  width: 250px;
}

.toggle-menu > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: right;
}



.toggle-menu a {
  color: red;
  text-align: left;
  text-decoration: none;
}

.navbar .submenu > li {
  display: block;
  position:relative;
}

.submenu .third> a::after {
  color: red;
  content: "";
  font-family: "fontawesome";
  opacity: 1;
  position: absolute;
  right: 50px;
  top: 23px;
    transition: all 200ms ease-in 0s;
}
.submenu .third a{
  position:relative;
}

.third >a:hover::after {
  color: #fff;
  opacity: 1;
  right: 15px;

}



.submenu .third > ul {
  left: 129px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 135px;
    display: none;
    background-color:#d1d1d1;
}

.submenu .third li {
  display: block;
}

.third:hover ul {
  display: block;
}

/*.toggle:hover .toggle-menu {
  opacity: 1;
  visibility: visible;
}*/

.toggle-menu-two{
  visibility:visible;
  opacity:1;
  transition: 200ms linear all;
}

.toggle-menu li:hover a {
  background-color: red;
  color: #fff;
}