body, html{
	margin:0;
	padding: 0;
}
.form-wrapper {
  background-color: #e6ffff;
  border: 1px solid #000;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 450px;
  padding: 30px;
  text-align: center;
  width: 100%;
}

select {
  margin-bottom: 75px;
  padding: 8px;
  width: 30%;
}
select:nth-child(2) {
  display: none;
}

textarea {
  width: 100%;
}

textarea:focus {
  box-shadow: 0 0 3px 1px green;
}

.form-wrapper h2 {
  margin: 0;
  margin-bottom: 15px;
}

.form-wrapper h3 {
  margin: 20px 0 10px;
  border-bottom: 2px solid #000;
  display: inline-block;
}
dl {
  margin: 0;
}

dl::after {
  clear: both;
  content: "";
  display: table;
}

.upload_header{
	display: inline;
}

dd {
  float: left;
  line-height: 50px;
  margin: 0 0 0 15%;
  text-align: left;
  width: 33%;
}

h5{
	margin: 0;
}

dt {
  line-height: 50px;
}

input {
  padding: 8px;
}
input:focus {
  box-shadow: 0px 0px 3px 1px green;
}
.btn-submit {
  width: 100%;
  margin-top: 20px;
}
